<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>

<h1>Newsfeed</h1>

    <% postList.results.forEach(function(post) {%>
        <ul>
            <div class="Images">
                <img src= <%= post.imageUrl %>> 
            </div>
            <h4>
                <%= post.message %> 
            </h4>
            <p>
                    Posted By : <%= post.postedBy.name %> (<%= post.postedBy.username%>) <br>
                    Posted At :</b> <%= format(post.createdAt, "dd-MM-yyyy HH:mm") %> <br> 
                    Likes :<%=post.likedBy.length%> &nbsp;&nbsp;&nbsp;&nbsp; Dislikes :<%=post.dislikedBy.length%>
                </p>
            <!-- <p>Liked By: <%for (let i = 0; i < post.likedBy.length; i++) { %> -->
                <!-- <%= post.likedBy[i].name %>  -->
            <!-- <% } %> <br> -->
            <!-- Disliked By: <%for (let i = 0; i < post.dislikedBy.length; i++) { %> -->
                <!-- <%= post.dislikedBy[i].name %>  -->
            <!-- <% } %></p> -->
            <div class="Buttons">
                <form  method="post" action="/posts/<%=post.id %>/like">
                <button id="Like-Button" type="submit">Like</button>
                </form> 
                <form method="post" action="/posts/<%=post.id %>/dislike">
                <button  id="Dislike-Button" type="submit">Dislike</button>
                </form> 
            </div>
        </ul>
        
    <% }); %>

<%if (postList.next) { %>
    <a href=<%= postList.next %>>Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href=<%= postList.previous %>>Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>