<html lang="en-gb">
<%- include('_head') -%>
<!-- <%- include('_header') -%> -->
<body>
    <header>
        <nav>
            
            <div class="HomePage">
                 <a href="/posts">My Face</a>
            </div>
            <div class=HomePageMiddle>
                <a href="/users/<%=id%>/">Home</a>
                <a href="/posts">Posts</a>
                <a href="/users">Users</a>
    
            </div>
            <div class=HomePageRight>
                <a href="/posts/create">+New Post</a>
                
            </div>
        
        </nav>
    </header>
    <div class="CoverImage">
        <img src= <%= coverImageUrl %> >
    </div>
    <div class="profile">
    
        <img src= <%= profileImageUrl %> >
        <div class="UserProfileInfo">
            <p>Name: <%= name %><br>
            Username: <%= username %><br>
            Email: <%= email %> <br>
            </p> 
            
        </div>
    </div>
        <div class="ProfileHeadings">
        <p><%= name %>'s posts: </p><br></div>
            <div class="UserPosts">
                
                <% posts.forEach(function(post) {%>
                    <ul>
                        <div class="Images">
                            <img src= <%= post.imageUrl %>> 
                        </div>
                        <p>
                            <%= post.message %> 
                        </p>
                        
                    </ul>
        
                    <% }); %>
            </div>
            <div class="ProfileHeadings">
            <p>Posts <%= name %> likes: </p><br></div>
            <div class="LikedPosts">
                
                <% likes.forEach(function(post) {%>
                    <ul>
                        <div class="Images">
                            <img src= <%= post.imageUrl %>> 
                        </div>
                        <p>
                            <%= post.message %> 
                        </p>
                    </ul>
        
                    <% }); %>
            </div>
            <div class="ProfileHeadings">
            <p>Posts <%= name %> dislikes: </p><br></div>
            <div class="DisLikedPosts">
                
                <% dislikes.forEach(function(post) {%>
                    <ul>
                        <div class="Images">
                            <img src= <%= post.imageUrl %>> 
                        </div>
                        <p>
                            <%= post.message %> 
                        </p>
                    </ul>
        
                    <% }); %>
            </div>
</body>
<%- include('_footer') -%>
</html>