<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>
<h1>Users</h1>

    <% results.forEach(function(user) {%>
        <ol>
            <div class="UserInfo">
                <img src= <%= user.profileImageUrl %> >
                <p>Name: <a href="/users/<%=user.id%>/"><%= user.name %></a><br>
                    Username:<%= user.username %><br>
                    Email:<%= user.email %> <br>
                    Posts:<%= user.posts.length %>&nbsp;&nbsp;&nbsp;Likes: <%= user.likes.length %>&nbsp;&nbsp;&nbsp; Dislikes: <%= user.dislikes.length %>
                 </p>
            </div>
            
        </ol>
    <% }); %>

<%if (next) { %>
    <a href=<%= next %>>Next</a>
<% } %>
<%if (previous) { %>
    <a href=<%= previous %>>Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>